<section>
    <h1 class="text-4xl text-green-600 my-2 text-center">Forgot Password</h1>
    
    @if(step == 1){
    <form [formGroup]="verifyEmail" class="rounded-md shadow-sm p-3" (ngSubmit)="verifyEmailSubmit()">
        <div class="my-2">
            <label for="email">Email</label>
            <input formControlName="email" id="email" type="email">
        </div>

        <button [disabled]="verifyEmail.invalid" class="bg-green-600 text-white py-2 px-10 border rounded w-[90%] mx-auto block">Verify Email</button>
    </form>
    }
    @else if(step == 2){
     <form [formGroup]="verifyCode" class="rounded-md shadow-sm p-3" (ngSubmit)="verifyCodeSubmit()">
        <div class="my-2">
            <label for="resetCode">resetCode</label>
            <input formControlName="resetCode" id="resetCode" type="text">
        </div>

        <button [disabled]="verifyCode.invalid" class="bg-green-600 text-white py-2 px-10 border rounded w-[90%] mx-auto block">Verify Code</button>
    </form>
    }
    @else if (step == 3) {
     <form [formGroup]="resetPassword" class="rounded-md shadow-sm p-3" (ngSubmit)="resetPasswordSubmit()">
        <div class="my-2">
            <label for="email">Email</label>
            <input readonly formControlName="email" id="email" type="email">
        </div>
        <div class="my-2">
            <label for="newPassword">newPassword</label>
            <input formControlName="newPassword" id="newPassword" type="Password">
        </div>

        <button [disabled]="resetPassword.invalid" class="bg-green-600 text-white py-2 px-10 border rounded w-[90%] mx-auto block">Change Passweord</button>
    </form>
    }
</section>
