<section>
   <div class="grid md:grid-cols-[70%_minmax(0,1fr)]">
      <div>
         <owl-carousel-o [options]="customMainSlider">
            <ng-template carouselSlide><img src="/images/img1.avif" class="w-full h-[300px]" alt=""></ng-template>   
            <ng-template carouselSlide><img src="/images/img2.avif" class="w-full h-[300px]" alt=""></ng-template>   
            <ng-template carouselSlide><img src="/images/img3.avif" class="w-full h-[300px]" alt=""></ng-template>   
            <ng-template carouselSlide><img src="/images/img4.avif" class="w-full h-[300px]" alt=""></ng-template>   
            <ng-template carouselSlide><img src="/images/img5.avif" class="w-full h-[300px]" alt=""></ng-template>   
            <ng-template carouselSlide><img src="/images/img6.avif" class="w-full h-[300px]" alt=""></ng-template>   
          </owl-carousel-o>
         
      </div>

      <div>
         <img src="/images/grocery-banner.png" class="w-full h-[150px]" alt="">
         <img src="/images/grocery-banner-2.jpeg" class="w-full h-[150px]" alt="">
      </div>
   </div>
</section>


<section>
   <owl-carousel-o [options]="customOptions">

     @for (category of categories(); track category._id) {
       
      <ng-template carouselSlide>
         <img [src]="category.image" class="w-full h-[250px]" [alt]="category.name">
         <h3 class="text-green-600">{{category.name}}</h3>
      </ng-template>
    
     }
        
  
    </owl-carousel-o>
</section>


<section>
    
    <form class="max-w-md mx-auto my-4">   
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input [(ngModel)]="text" [ngModelOptions]="{standalone: true}" type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search By Name ..." required />
        <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
    </div>
    </form>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10 ">
       @for (product of products().slice(0,12) | search : text ; track product.id) {
        <div class="group bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <div [routerLink]="['/details' , product.id]">
               <div class="card-img">
               <img [src]="product.imageCover" class="w-full h-[250px] object-contain" [alt]="product.title">
            </div>
            <div class="px-5 py-5">
               <a>
                 <h4 class="text-green-500 text-xs">{{product.category.name | titlecase }}</h4>
                 <h3 class="font-medium">{{product.title | termtext : 2}}</h3>
               </a>
               
               <div class="flex justify-between">
                   <span class="font-bold text-gray-900 dark:text-white">{{product.price | currency : 'EGP'}} </span>
                   <div class="flex items-center justify-end mt-2.5 mb-5">
                      <div class="flex items-center space-x-1 rtl:space-x-reverse">

                <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>

            </div>
            <span class="bg-green-100 text-green-800 text-xs font-semibold px-2.5 py-0.5 rounded-sm dark:bg-green-200 dark:text-green-800 ms-3">{{product.ratingsAverage}}</span>

             </div>
               </div>
            </div>
            </div>

            <button (click)="addToCart(product.id)" class="text-white w-full translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Add To Cart</button>
          </div>
       }
    </div>
</section>

