@if(cartDetails.products){
<Section class=" w-[75%] mx-auto main-sec ">
        <h1 class="text-center text-3xl text-green-600">Shop Cart</h1>
    <div class="flex items-center justify-between">
        <span class="text-green-600">Total Cart Price : {{cartDetails.totalCartPrice | currency:'GBP'}} </span>
        <button (click)="clearItems()" class="bg-red-900 border rounded text-xs px-10 py-1 text-white">Clear Cart</button>
    </div>
    <!-- {count , price , product} -->
    @for (prod of cartDetails.products; track prod.product._id) {
    <div class="grid md:grid-cols-[10%_minmax(0,1fr)] border-b mb-2">
        <!-- img -->
        <div>
            <img [src]="prod.product.imageCover" class="w-full h-[100px] object-contain" [alt]="prod.product.title">
        </div>
        <!-- info -->
        <div class=" flex justify-between items-center">
            <!-- info -->
            <div>
                <h3>{{prod.product.title}}</h3>
                <h4>Price : {{prod.price | currency:'GBP'}}</h4>
                <button (click)="removeItem(prod.product.id)"><i class="fas fa-trash-can text-green-600"></i> Remove</button>
            </div>
            <!-- btns -->
             <div class="flex items-center gap-4">
                <button (click)="updateCount(prod.product.id , prod.count + 1)" class="text-green-600 text-3xl"><i class="fa-regular fa-square-plus"></i></button>
                <button>{{prod.count}}</button>
                <button (click)="updateCount(prod.product.id , prod.count - 1)" class="text-green-600 text-3xl"><i class="fa-regular fa-square-minus"></i></button>
             </div>
        </div>
    </div>
    }

    <button class="btn-main" [routerLink]="['/checkout' , cartDetails._id]">Checkout</button>
</Section>
}
@else {
    <h1 class="text-center text-green-600 text-2xl">No Data Found</h1>
}


